html{
 height: 100%;
}

body {
	min-height: 100%;
	width: 100%;
	background-image: radial-gradient(#A1B02B, #2381DE); /* Standard syntax */
}

#valolaatikko {

	width: 65px;
    height: 200px;
    border-width: 10px;
    border-style: solid; 
	border-color: gray; 
	border-radius: 15px; /* round edges */
	background-color: black;
    left: 75%;
	top: 15%;
	position: fixed;
}
#tekstilaatikko {

	width: 250px;
	height: 180px;
	border-style: solid;
	border-width: 3px;
	bottom: 20px;
	left: 50px;
	position: absolute;
}
.boxtext{
	font-family: Arial;
}
#valo1 {
	
	background-color: red;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	margin: auto; /* for centering the element horizontally */
	margin-top: 20px !important;
}
#valo1:hover{
	background-color: blue;
}
#valo1:active{
	border-radius: 0px;
}
/*
#valo1:visited{
	background-color:orange;
}
*/
#valo2 {
	background-color:yellow;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	margin: auto;
	margin-top: 20px !important;
}
#valo2:hover{
	background-color: blue;
}
#valo2:active{
	border-radius: 0px;
}
#valo3 {
	background-color:green;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	margin: auto;
	margin-top: 20px !important;
}
#valo3:hover{
	background-color: blue;
}
#valo3:active{
	border-radius: 0px;
}

#tolppa {
	width: 20px;
	height: 200px;
	background-color: black;
	
	position: fixed;
	margin-left:22px;
	margin-top: 30px;
	z-index: -1; /* to put it behind valolaatikko */
	
}

#aurinko {

background-color: yellow;
width: 80px;
height: 80px;
border-radius: 40px;
position: fixed;
top:50%;
left: 50%;
	
}

#greenhill {
	border-top-left-radius: 143px;
	border-top-right-radius: 290px;
	position: absolute;
	bottom: 0;
	width: 85%;
	height: 280px;
	background-color: green;
	z-index: -1;
}
#darkgreenhill {
	position: absolute;
	border-top-left-radius: 380px;
	border-top-right-radius: 122px;
	bottom: 0;
	right: 0;
	width: 91%;
	height: 350px;
	background-color: darkgreen;
	z-index: -2;
}


.shadow {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}
.dotted {
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
  }

